<div class="container">
  <div>
    <h1>Üdvözöllek a PecaPont Horgász Webshop oldalán!</h1>
  </div>
  <div class="sidebyside">
    <div class="side bright">
        <p>
          Képzeld el azt a helyet, ahol a kezdő és tapasztalt horgászok egyaránt otthon érezhetik magukat.
          A PecaPont azért jött létre, hogy te is megtaláld a számodra tökéletes felszerelést, legyen szó pontyhorgászatról,
          pergetésről vagy akár legyezésről. Nálunk minden terméket a minőség, megbízhatóság és a vásárlóink iránti elkötelezettség
          alapján válogattunk össze.    
        </p>
        <div>
            <img src="images/shop.jpeg" alt="horgaszbolt">
        </div>
    </div>
    <div class="side dark">
        <div>
            <img src="images/interior.png" alt="eladoter">
        </div>
        <p>
          Webshopunkban böngészhetsz csúcsminőségű horgászbotok, orsók, csalik és egyéb kiegészítők között.
          Emellett praktikus tippekkel és friss hírekkel várunk a horgászat világából, hogy mindig naprakész lehess.
          De természetesen szeretettel várunk üzletünkben is, ahol rengeteg termékből tartunk kiállítási darabot.
        </p>
    </div>
  </div>
</div>