<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button 
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div>PecaPont</div>
      <nav>
        <ul>
          <li><a routerLink="/home">Főoldal</a></li>
          @if (isLoggedIn) {
          <li><a routerLink="/tasks">Termékek hozzáadása</a></li>
          }
          <li><a routerLink="/shop">Termékek</a></li>

          @if (isLoggedIn) {
            <li><a routerLink="/completed">Megrendelések</a></li>
          }
        
          @if (isLoggedIn) {
            <li><a routerLink="/profile">Profil</a></li>
          }
          
          @if (!isLoggedIn) {
            <li><a routerLink="/login">Bejelentkezés</a></li>
          }
          
          @if (isLoggedIn) {
            <li><a href="#" (click)="$event.preventDefault(); logout()">Kijelentkezés</a></li>
          }
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>